<body class ="no-background">
<div class = "container">
  <div class="two-column">
    <%= form_for @user, :html => { class: "form-horizontal" } do |f| %>
    <legend>Sign Up</legend>
    <%if @user.errors.any?%>
      <h3>Hey! Sign up first. Then start potlucking.</h3>
      <%@user.errors.full_messages.each do |message|%>
        <p><%=message%></p>
      <%end%>
    <%end%>
    <div class="form-group">
      <%= f.label :username, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :username, placeholder: "Username", class: "form-control", id: "inputUsername" %>
      </div>
    </div>
     <div class="form-group">
      <%= f.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control", placeholder: "   none" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.email_field :email, placeholder: "Email", class: "form-control", id: "inputEmail" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "inputPassword" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", id: "inputPasswordConfirmation" %><br>
      </div>
    </div>
    <%= f.submit value: 'Sign Up', class: "btn btn-primary" %><br>
    <% end %>
    <%= link_to image_tag("outdoor_potluck.jpg", :class => "outdoor-potluck"), welcome_index_path %>
  </div>
</div>