
<div class = "container">
  <%= link_to image_tag("potluck.jpg", :class => "main-img") %>


<!--     <p>Attending or hosting a potluck?</br>
      Keep track of who's bringing what .</p>-->


 <div class = "form-inline">
<%= form_for :user, url: '/users' do |f| %>
  Name: </br>
  <%= f.text_field :name %></br>
  Email: </br>
  <%= f.text_field :email %></br>
  Password: </br>
  <%= f.password_field :password %></br>

  <%= f.submit "Sign Up", :class => "sign-button" %>

  <% end %>
  </div>
</div>
