<div class = "container">
  <h2>Add A New Potluck</h2>
  <%= form_for @event do |f| %>
    <p>
    <%= f.label :title, "Fancy Name For Event" %><br>
    <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

     <p>
    <%= f.label :street_address, "Street Address" %>
    <%= f.text_field :street_address %>
    </p>
    <p>
    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip %>
    <%= f.text_field :zip %>
    </p>

     <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
    </p>

     <p>
    <%= f.label :start_time, "Start Time" %><br>
    <%= f.time_field :time %>
    </p>
    <p>
       <%= submit_tag "Create New Potluck", id: "submit-new-meetup-btn",class: "btn btn-success" %>
    </p>
  <% end %>
</div>