<div class = "container">

   <h2>Hi <%= current_user.username %>.</h2>
      <div class="jumbotron">
        <h3>Potluck Deets: </h3>
          <li><%= @event.title %></li>
          <li><%= @event.street_address %></li>
          <li><%= @event.city %></li>
          <li><%= @event.state %></li>
          <li><%= @event.zip %></li>
          <li><%= @event.date %></li>
          <li><%= @event.time %></li>
          <li><%= @event.description %></li>
      </div>
</div>
