<div class = "container">

   <h2>Hi <%= current_user.username %>.</h2>
      <div class="jumbotron">
        <h3>Potluck Deets for <%= @event.title %> on <%= @event.date.strftime("%B %d, %Y") %> </h3>
        Start Time: <%= @event.start_time %> pm<br>
        Location:
          <li><%= @event.street_address %></li>
          <li><%= @event.city %> <%= @event.state %> <%= @event.zip %></li>
        Description: <%= @event.description %>
      </div>
      <div class = "add-dish">
      </div>
      <% if current_user.events.where(id: @event.id).empty? %>
          <%= link_to "Join 'em!", user_path(current_user),class: "button-join btn-success" %>


      <% end %>
</div>
