<div class = "container">
  <h2>What will you bring?</h2>
  <%= form_for @dish do |f|  %>
    <div class="field">
      <%= f.label :name, "Name of dish: " %> <br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :course, "Course: " %> <br />
      <%= f.text_field :course %>
    </div>

    <div class="field">
      <%= f.label :gluten_free, "Gluten-free? " %> <br />
      <%= f.check_box :gluten_free %> <br /><br />
    </div>

    <div class="field">
      <%= f.label :event, "Events: " %> <br />
      <%= f.select "events", current_user.events.map {|event| [ event.title, event.title ] }, { prompt: "Select Potluck" } %>
    </div></br></br>

    <%= submit_tag "Make it.", id: "submit-new-meetup-btn",class: "btn btn-success" %>
  <% end %>
</div>

